.App {
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(red, blue, green);

  min-height: 100vh;

  justify-items: center;
  padding: 2rem;
}

.mainContent {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2em;
}

.jokeSection {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 1em;
  justify-self: center;
}

img {
  width: 100%;
  height: auto;
  justify-self: center;
  border-radius: 1em;
}

button,
select {
  font-size: large;
  font-weight: bold;
  height: 2.5em;
  width: auto;
  border-radius: 0.25em;
  background-color: blue;
  color: white;
}

a {
  color: white;
  font-weight: bold;
}
